.title {
  font-size: 6rem;
  line-height: 0.8;
}

@media (min-width: 480px) {
  .title {
    font-size: 4.5rem;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 10rem;
  }
}

@media (min-width: 1476px) {
  .title {
    font-size: 14rem;
  }
}
